<h1>Mario's Specialty Foods</h1>
<% if @products.any? %>
  <ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %>
  <% end %>
  </ul>
  <% else %>
    <p>There are no products at this time</p>
  <% end %>

<p><%= link_to "Create a new product", new_product_path %></p>