<h1 class="text-center" >Mario's Construction Material</h1>
<% if !user_signed_in? %>
  <p class="text-center" ><%= link_to "Sign In", new_user_session_path %></p>
  <p class="text-center" ><%= link_to "Sign Up", new_user_registration_path %></p>
<% else %>
  <p><%= link_to "see our products", products_path(:g => 'all') %></p>
  <% if @products.any? %>
  <h3 class="text-center" >our newest products</h3>
    <% @recently_added.each do |product| %>
      <div class="text-center"><%= link_to product.name, product_path(product) %></div>
    <%end%>
  <%end%>
<% end %>